/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* common css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F4;
}

nav,
.hero-section {
    margin-bottom: 60px;
}


/* navbar css */

header {
    padding: 50px 0;
    background-color: white
}

.panda-navbar {
    justify-content: flex-end;
}

.panda-search-form {
    position: relative;
}

.panda-searchbox {
    border-radius: 20px;
    background-color: #F1F1F1;
}

.search-icon {
    position: absolute;
    right: -9px;
    top: 8px;
}

.search-icon i {
    font-size: 19px;
    color: #BABABA;
}


/* slider css */

.hero-section {
    background-color: #FEEAE9;
    padding: 50px;
}

.slide-content h1 {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: 25px;
}

.slide-content p {
    color: #4E4E4E;
    padding-right: 160px;
    font-size: 16px;
}

.slide-content span.slide-price {
    color: #FF136F;
    font-size: 40px;
    display: block;
    font-weight: 500;
}

.slide-content a {
    background-color: #FF136F;
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 30px;
    transition: 3.s;
}

.slide-content a:hover {
    opacity: .7
}

.hero-section .carousel-indicators [data-bs-target] {
    background-color: #000;
}


/* category section css */

.cat-box-1 {
    background-image: linear-gradient(to right bottom, #ff9c35, #ffa92e, #ffb527, #ffc31f, #ffd019);
}

.cat-box-2 {
    background-image: linear-gradient(to right bottom, #ff589b, #ff4c91, #ff3e86, #ff2d7b, #ff136f);
}

.cat-box-3 {
    background-image: linear-gradient(to left bottom, #4289ff, #2274ff, #0c5dff, #2240ff, #3f07f8);
}

.cat-box {
    padding: 15px 20px;
}

.cat-box a {
    text-decoration: none;
}

.cat-box h2 {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
}


/* product section css */

.section-menu .see-all {
    color: #FF9D00;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.section-menu .see-all:hover {
    opacity: .8;
}

.products {
    padding: 60px 0;
}

.product-box {
    background-color: #fff;
    padding: 30px;
    height: 100%;
}

.product-box .p-title,
.product-box .price {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
}

.product-box .buy-bnt:hover {
    opacity: 0.8
}


/* footer css */

.site-footer {
    padding: 80px
}

.footer-box {
    background-color: #FFF2F1;
    padding: 150px 0;
}

.subscribe-form input {
    padding: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.subscribe-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
    color: white;
    padding: 15px 40px;
}